# Archivos del sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporal
*.swp
*.swo
*~
.tmp

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
images/1701cc40-5809-410d-bcc2-e68b145dc739.png
images/811dff51-cbc7-4ded-af8a-e92e6e7e430e.png
images/a820a8a1-cd28-41c0-b2eb-3cbcd99d3940.png
/images/
